body {
    background-color: black;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 700px;
    margin: auto;
    text-align: left;
    background: #D3D3D3;
    padding: 20px 60px;
    border: solid #D8D8D8;
    border-width: 0 1px 1px 1px;
    opacity: 0.6;
}

#main {
    border-bottom-style: none;
    border-top-left-radius: 5px:
    border-top-right-radius: 5px;
}
#chats {
    border-top-style: none;
    height: 500px;
    overflow: scroll;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.friendslist {
    position: fixed;
    margin-left: 0px;
    margin-top: 150px;
    background-color: #D3D3D3;
    width: 220px;
    height: 800px;
    border-radius: 10px;
    opacity: 0.6;
}

.username {
  background-color: #ffffff;
  display: block;
  padding: 16px;
  margin: 10px 0;
  max-width: 768px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  opacity: 0.8;
}

.person {
 font: bold italic 15px/18px Helvetica, Arial, sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/